In [64]:
import zipfile
import pandas as pd
import os  # Add this line to import the os module

zip_file_path = '/Users/eduardoaleman/Desktop/Assignments/citibike/202301-citibike-tripdata.csv.zip'
csv_file_name = '202301-citibike-tripdata.csv'
extracted_folder = '/Users/eduardoaleman/Desktop/Assignments/citibike/extracted_files/'

os.makedirs(extracted_folder, exist_ok=True)

with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
    zip_ref.extract(csv_file_name, extracted_folder)

csv_file_path = os.path.join(extracted_folder, csv_file_name)
NOW = pd.read_csv(csv_file_path, low_memory=False)

NOW.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,4A86C1475DCCADA0,classic_bike,2023-01-26 10:53:44,2023-01-26 11:05:17,E 53 St & Madison Ave,6659.03,Columbus Ave & W 72 St,7175.05,40.759724,-73.973664,40.777057,-73.978985,member
1,AE02E1FF7E264874,classic_bike,2023-01-04 11:51:54,2023-01-04 12:07:09,Halsey St & Ralph Ave,4334.02,Clinton Ave & Myrtle Ave,4651.02,40.684970,-73.922755,40.693261,-73.968896,casual
2,D3F9A2A71AD244C6,classic_bike,2023-01-04 17:26:48,2023-01-04 17:43:29,Bank St & Hudson St,5922.08,W 52 St & 11 Ave,6926.01,40.736566,-74.006092,40.767272,-73.993929,casual
3,3D48C6F33AFEF329,classic_bike,2023-01-04 08:31:11,2023-01-04 08:42:12,E 53 St & Madison Ave,6659.03,W 45 St & 8 Ave,6676.02,40.759711,-73.974023,40.759291,-73.988597,member
4,4865926C3D97BA01,electric_bike,2023-01-03 22:15:34,2023-01-03 22:30:35,Frederick Douglass Blvd & W 112 St,7631.23,Central Park S & 6 Ave,6876.04,40.801694,-73.957145,40.765909,-73.976342,casual

In [65]:
replace_dict = {'member': 'Subscriber', 'casual': 'Customer'}
NOW['member_casual'] = NOW['member_casual'].replace(replace_dict)

In [66]:
NOW.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,4A86C1475DCCADA0,classic_bike,2023-01-26 10:53:44,2023-01-26 11:05:17,E 53 St & Madison Ave,6659.03,Columbus Ave & W 72 St,7175.05,40.759724,-73.973664,40.777057,-73.978985,Subscriber
1,AE02E1FF7E264874,classic_bike,2023-01-04 11:51:54,2023-01-04 12:07:09,Halsey St & Ralph Ave,4334.02,Clinton Ave & Myrtle Ave,4651.02,40.684970,-73.922755,40.693261,-73.968896,Customer
2,D3F9A2A71AD244C6,classic_bike,2023-01-04 17:26:48,2023-01-04 17:43:29,Bank St & Hudson St,5922.08,W 52 St & 11 Ave,6926.01,40.736566,-74.006092,40.767272,-73.993929,Customer
3,3D48C6F33AFEF329,classic_bike,2023-01-04 08:31:11,2023-01-04 08:42:12,E 53 St & Madison Ave,6659.03,W 45 St & 8 Ave,6676.02,40.759711,-73.974023,40.759291,-73.988597,Subscriber
4,4865926C3D97BA01,electric_bike,2023-01-03 22:15:34,2023-01-03 22:30:35,Frederick Douglass Blvd & W 112 St,7631.23,Central Park S & 6 Ave,6876.04,40.801694,-73.957145,40.765909,-73.976342,Customer

In [67]:
replace_dict = {'classic_bike': 'Classic', 'electric_bike': 'Electric', 'docked_bike': 'Docked'}
NOW['rideable_type'] = NOW['rideable_type'].replace(replace_dict)

In [68]:
NOW.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,4A86C1475DCCADA0,Classic,2023-01-26 10:53:44,2023-01-26 11:05:17,E 53 St & Madison Ave,6659.03,Columbus Ave & W 72 St,7175.05,40.759724,-73.973664,40.777057,-73.978985,Subscriber
1,AE02E1FF7E264874,Classic,2023-01-04 11:51:54,2023-01-04 12:07:09,Halsey St & Ralph Ave,4334.02,Clinton Ave & Myrtle Ave,4651.02,40.684970,-73.922755,40.693261,-73.968896,Customer
2,D3F9A2A71AD244C6,Classic,2023-01-04 17:26:48,2023-01-04 17:43:29,Bank St & Hudson St,5922.08,W 52 St & 11 Ave,6926.01,40.736566,-74.006092,40.767272,-73.993929,Customer
3,3D48C6F33AFEF329,Classic,2023-01-04 08:31:11,2023-01-04 08:42:12,E 53 St & Madison Ave,6659.03,W 45 St & 8 Ave,6676.02,40.759711,-73.974023,40.759291,-73.988597,Subscriber
4,4865926C3D97BA01,Electric,2023-01-03 22:15:34,2023-01-03 22:30:35,Frederick Douglass Blvd & W 112 St,7631.23,Central Park S & 6 Ave,6876.04,40.801694,-73.957145,40.765909,-73.976342,Customer

In [69]:
NOW[['2023_Date', '2023_Time']] = NOW['started_at'].str.split(' ', 1, expand=True)
NOW[['2023_End_Date', '2023_End_Time']] = NOW['started_at'].str.split(' ', 1, expand=True)

In [74]:
NOW.head()

,ride_id,rideable_type,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,2023_Date,2023_Time,2023_End_Date,2023_End_Time
0,4A86C1475DCCADA0,Classic,E 53 St & Madison Ave,6659.03,Columbus Ave & W 72 St,7175.05,40.759724,-73.973664,40.777057,-73.978985,Subscriber,2023-01-26,10:53:44,2023-01-26,10:53:44
1,AE02E1FF7E264874,Classic,Halsey St & Ralph Ave,4334.02,Clinton Ave & Myrtle Ave,4651.02,40.684970,-73.922755,40.693261,-73.968896,Customer,2023-01-04,11:51:54,2023-01-04,11:51:54
2,D3F9A2A71AD244C6,Classic,Bank St & Hudson St,5922.08,W 52 St & 11 Ave,6926.01,40.736566,-74.006092,40.767272,-73.993929,Customer,2023-01-04,17:26:48,2023-01-04,17:26:48
3,3D48C6F33AFEF329,Classic,E 53 St & Madison Ave,6659.03,W 45 St & 8 Ave,6676.02,40.759711,-73.974023,40.759291,-73.988597,Subscriber,2023-01-04,08:31:11,2023-01-04,08:31:11
4,4865926C3D97BA01,Electric,Frederick Douglass Blvd & W 112 St,7631.23,Central Park S & 6 Ave,6876.04,40.801694,-73.957145,40.765909,-73.976342,Customer,2023-01-03,22:15:34,2023-01-03,22:15:34

In [77]:
NOW.head()

,ride_id,rideable_type,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,2023_Date,2023_Time,2023_End_Date,2023_End_Time
0,4A86C1475DCCADA0,Classic,E 53 St & Madison Ave,6659.03,Columbus Ave & W 72 St,7175.05,40.759724,-73.973664,40.777057,-73.978985,Subscriber,2023-01-26,10:53:44,2023-01-26,10:53:44
1,AE02E1FF7E264874,Classic,Halsey St & Ralph Ave,4334.02,Clinton Ave & Myrtle Ave,4651.02,40.684970,-73.922755,40.693261,-73.968896,Customer,2023-01-04,11:51:54,2023-01-04,11:51:54
2,D3F9A2A71AD244C6,Classic,Bank St & Hudson St,5922.08,W 52 St & 11 Ave,6926.01,40.736566,-74.006092,40.767272,-73.993929,Customer,2023-01-04,17:26:48,2023-01-04,17:26:48
3,3D48C6F33AFEF329,Classic,E 53 St & Madison Ave,6659.03,W 45 St & 8 Ave,6676.02,40.759711,-73.974023,40.759291,-73.988597,Subscriber,2023-01-04,08:31:11,2023-01-04,08:31:11
4,4865926C3D97BA01,Electric,Frederick Douglass Blvd & W 112 St,7631.23,Central Park S & 6 Ave,6876.04,40.801694,-73.957145,40.765909,-73.976342,Customer,2023-01-03,22:15:34,2023-01-03,22:15:34

In [78]:
NOW.rename(columns={'start_station_name': 'start station name',
                    'end_station_name': 'end station name',
                    'start_station_id': 'start station id',
                    'end_station_id': 'end station id',
                    'start_lat': 'start station latitude',
                    'start_lng': 'start station longitude',
                    'end_lat': 'end station latitude',
                    'end_lng': 'end station longitude',
                    'member_casual': 'usertype',
                    '2023_End_Date': 'Date2',
                    '2023_End_Time': 'End_Time'}, inplace=True)

In [79]:
NOW.head()

,ride_id,rideable_type,start station name,start station id,end station name,end station id,start station latitude,start station longitude,end station latitude,end station longitude,usertype,2023_Date,2023_Time,Date2,End_Time
0,4A86C1475DCCADA0,Classic,E 53 St & Madison Ave,6659.03,Columbus Ave & W 72 St,7175.05,40.759724,-73.973664,40.777057,-73.978985,Subscriber,2023-01-26,10:53:44,2023-01-26,10:53:44
1,AE02E1FF7E264874,Classic,Halsey St & Ralph Ave,4334.02,Clinton Ave & Myrtle Ave,4651.02,40.684970,-73.922755,40.693261,-73.968896,Customer,2023-01-04,11:51:54,2023-01-04,11:51:54
2,D3F9A2A71AD244C6,Classic,Bank St & Hudson St,5922.08,W 52 St & 11 Ave,6926.01,40.736566,-74.006092,40.767272,-73.993929,Customer,2023-01-04,17:26:48,2023-01-04,17:26:48
3,3D48C6F33AFEF329,Classic,E 53 St & Madison Ave,6659.03,W 45 St & 8 Ave,6676.02,40.759711,-73.974023,40.759291,-73.988597,Subscriber,2023-01-04,08:31:11,2023-01-04,08:31:11
4,4865926C3D97BA01,Electric,Frederick Douglass Blvd & W 112 St,7631.23,Central Park S & 6 Ave,6876.04,40.801694,-73.957145,40.765909,-73.976342,Customer,2023-01-03,22:15:34,2023-01-03,22:15:34

In [80]:
NOW.rename(columns={'2023_Date': 'Date'}, inplace=True)

In [81]:
NOW.rename(columns={'2023_Time': 'Start_Time'}, inplace=True)

In [82]:
NOW.head()

,ride_id,rideable_type,start station name,start station id,end station name,end station id,start station latitude,start station longitude,end station latitude,end station longitude,usertype,Date,Start_Time,Date2,End_Time
0,4A86C1475DCCADA0,Classic,E 53 St & Madison Ave,6659.03,Columbus Ave & W 72 St,7175.05,40.759724,-73.973664,40.777057,-73.978985,Subscriber,2023-01-26,10:53:44,2023-01-26,10:53:44
1,AE02E1FF7E264874,Classic,Halsey St & Ralph Ave,4334.02,Clinton Ave & Myrtle Ave,4651.02,40.684970,-73.922755,40.693261,-73.968896,Customer,2023-01-04,11:51:54,2023-01-04,11:51:54
2,D3F9A2A71AD244C6,Classic,Bank St & Hudson St,5922.08,W 52 St & 11 Ave,6926.01,40.736566,-74.006092,40.767272,-73.993929,Customer,2023-01-04,17:26:48,2023-01-04,17:26:48
3,3D48C6F33AFEF329,Classic,E 53 St & Madison Ave,6659.03,W 45 St & 8 Ave,6676.02,40.759711,-73.974023,40.759291,-73.988597,Subscriber,2023-01-04,08:31:11,2023-01-04,08:31:11
4,4865926C3D97BA01,Electric,Frederick Douglass Blvd & W 112 St,7631.23,Central Park S & 6 Ave,6876.04,40.801694,-73.957145,40.765909,-73.976342,Customer,2023-01-03,22:15:34,2023-01-03,22:15:34

In [83]:
NOW = NOW.assign(tripduration=pd.NA)

In [84]:
NOW = NOW.assign(Age=pd.NA)

In [85]:
NOW = NOW.assign(Gender=pd.NA)

In [86]:
NOW.head()

,ride_id,rideable_type,start station name,start station id,end station name,end station id,start station latitude,start station longitude,end station latitude,end station longitude,usertype,Date,Start_Time,Date2,End_Time,tripduration,Age,Gender
0,4A86C1475DCCADA0,Classic,E 53 St & Madison Ave,6659.03,Columbus Ave & W 72 St,7175.05,40.759724,-73.973664,40.777057,-73.978985,Subscriber,2023-01-26,10:53:44,2023-01-26,10:53:44,<NA>,<NA>,<NA>
1,AE02E1FF7E264874,Classic,Halsey St & Ralph Ave,4334.02,Clinton Ave & Myrtle Ave,4651.02,40.684970,-73.922755,40.693261,-73.968896,Customer,2023-01-04,11:51:54,2023-01-04,11:51:54,<NA>,<NA>,<NA>
2,D3F9A2A71AD244C6,Classic,Bank St & Hudson St,5922.08,W 52 St & 11 Ave,6926.01,40.736566,-74.006092,40.767272,-73.993929,Customer,2023-01-04,17:26:48,2023-01-04,17:26:48,<NA>,<NA>,<NA>
3,3D48C6F33AFEF329,Classic,E 53 St & Madison Ave,6659.03,W 45 St & 8 Ave,6676.02,40.759711,-73.974023,40.759291,-73.988597,Subscriber,2023-01-04,08:31:11,2023-01-04,08:31:11,<NA>,<NA>,<NA>
4,4865926C3D97BA01,Electric,Frederick Douglass Blvd & W 112 St,7631.23,Central Park S & 6 Ave,6876.04,40.801694,-73.957145,40.765909,-73.976342,Customer,2023-01-03,22:15:34,2023-01-03,22:15:34,<NA>,<NA>,<NA>

In [87]:
NOW = NOW.drop(['ride_id'], axis=1)

In [88]:
NOW.head()

,rideable_type,start station name,start station id,end station name,end station id,start station latitude,start station longitude,end station latitude,end station longitude,usertype,Date,Start_Time,Date2,End_Time,tripduration,Age,Gender
0,Classic,E 53 St & Madison Ave,6659.03,Columbus Ave & W 72 St,7175.05,40.759724,-73.973664,40.777057,-73.978985,Subscriber,2023-01-26,10:53:44,2023-01-26,10:53:44,<NA>,<NA>,<NA>
1,Classic,Halsey St & Ralph Ave,4334.02,Clinton Ave & Myrtle Ave,4651.02,40.684970,-73.922755,40.693261,-73.968896,Customer,2023-01-04,11:51:54,2023-01-04,11:51:54,<NA>,<NA>,<NA>
2,Classic,Bank St & Hudson St,5922.08,W 52 St & 11 Ave,6926.01,40.736566,-74.006092,40.767272,-73.993929,Customer,2023-01-04,17:26:48,2023-01-04,17:26:48,<NA>,<NA>,<NA>
3,Classic,E 53 St & Madison Ave,6659.03,W 45 St & 8 Ave,6676.02,40.759711,-73.974023,40.759291,-73.988597,Subscriber,2023-01-04,08:31:11,2023-01-04,08:31:11,<NA>,<NA>,<NA>
4,Electric,Frederick Douglass Blvd & W 112 St,7631.23,Central Park S & 6 Ave,6876.04,40.801694,-73.957145,40.765909,-73.976342,Customer,2023-01-03,22:15:34,2023-01-03,22:15:34,<NA>,<NA>,<NA>

In [89]:
csv_file_path = '2023.csv'
NOW.to_csv(csv_file_path, index=False)

In [102]:
csv_file_path = '2020.csv'

COVID = pd.read_csv(csv_file_path)

In [103]:
COVID

,tripduration,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,Date,Start_Time,Date2,End_Time,Age,Gender
0,789,504,1 Ave & E 16 St,40.732219,-73.981656,307,Canal St & Rutgers St,40.714275,-73.989900,30326,Subscriber,2020-01-01,00:00:55.3900,2020-01-01,00:14:05.1470,31,male
1,1541,3423,West Drive & Prospect Park West,40.661063,-73.979453,3300,Prospect Park West & 8 St,40.665147,-73.976376,17105,Customer,2020-01-01,00:01:08.1020,2020-01-01,00:26:49.1780,54,male
2,1464,3687,E 33 St & 1 Ave,40.743227,-73.974498,259,South St & Whitehall St,40.701221,-74.012342,40177,Subscriber,2020-01-01,00:01:42.1400,2020-01-01,00:26:07.0110,60,male
3,592,346,Bank St & Hudson St,40.736529,-74.006180,490,8 Ave & W 33 St,40.751551,-73.993934,27690,Subscriber,2020-01-01,00:01:45.5610,2020-01-01,00:11:38.1550,43,male
4,702,372,Franklin Ave & Myrtle Ave,40.694546,-73.958014,3637,Fulton St & Waverly Ave,40.683239,-73.965996,32583,Subscriber,2020-01-01,00:01:45.7880,2020-01-01,00:13:28.2400,41,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1240591,1587,3244,University Pl & E 8 St,40.731437,-73.994903,3092,Berry St & N 8 St,40.719009,-73.958525,40662,Subscriber,2020-01-31,23:59:26.8820,2020-02-01,00:25:54.4890,33,male
1240592,222,383,Greenwich Ave & Charles St,40.735238,-74.000271,383,Greenwich Ave & Charles St,40.735238,-74.000271,28722,Subscriber,2020-01-31,23:59:32.6410,2020-02-01,00:03:15.4720,40,male
1240593,163,150,E 2 St & Avenue C,40.720874,-73.980858,411,E 6 St & Avenue D,40.722281,-73.976687,32530,Subscriber,2020-01-31,23:59:39.1780,2020-02-01,00:02:23.0400,65,female
1240594,327,483,E 12 St & 3 Ave,40.732233,-73.988900,3718,E 11 St & Avenue B,40.727464,-73.979504,15314,Customer,2020-01-31,23:59:49.2310,2020-02-01,00:05:16.3790,29,male
1240595,484,327,Vesey Pl & River Terrace,40.715338,-74.016584,534,Water - Whitehall Plaza,40.702551,-74.012723,30947,Subscriber,2020-01-31,23:59:57.0360,2020-02-01,00:08:01.1820,36,male

In [104]:
COVID = COVID.drop(['bikeid'], axis=1)

In [106]:
COVID = COVID.assign(rideable_type=pd.NA)

In [107]:
COVID

,tripduration,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,usertype,Date,Start_Time,Date2,End_Time,Age,Gender,rideable_type
0,789,504,1 Ave & E 16 St,40.732219,-73.981656,307,Canal St & Rutgers St,40.714275,-73.989900,Subscriber,2020-01-01,00:00:55.3900,2020-01-01,00:14:05.1470,31,male,NaN
1,1541,3423,West Drive & Prospect Park West,40.661063,-73.979453,3300,Prospect Park West & 8 St,40.665147,-73.976376,Customer,2020-01-01,00:01:08.1020,2020-01-01,00:26:49.1780,54,male,NaN
2,1464,3687,E 33 St & 1 Ave,40.743227,-73.974498,259,South St & Whitehall St,40.701221,-74.012342,Subscriber,2020-01-01,00:01:42.1400,2020-01-01,00:26:07.0110,60,male,NaN
3,592,346,Bank St & Hudson St,40.736529,-74.006180,490,8 Ave & W 33 St,40.751551,-73.993934,Subscriber,2020-01-01,00:01:45.5610,2020-01-01,00:11:38.1550,43,male,NaN
4,702,372,Franklin Ave & Myrtle Ave,40.694546,-73.958014,3637,Fulton St & Waverly Ave,40.683239,-73.965996,Subscriber,2020-01-01,00:01:45.7880,2020-01-01,00:13:28.2400,41,male,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1240591,1587,3244,University Pl & E 8 St,40.731437,-73.994903,3092,Berry St & N 8 St,40.719009,-73.958525,Subscriber,2020-01-31,23:59:26.8820,2020-02-01,00:25:54.4890,33,male,NaN
1240592,222,383,Greenwich Ave & Charles St,40.735238,-74.000271,383,Greenwich Ave & Charles St,40.735238,-74.000271,Subscriber,2020-01-31,23:59:32.6410,2020-02-01,00:03:15.4720,40,male,NaN
1240593,163,150,E 2 St & Avenue C,40.720874,-73.980858,411,E 6 St & Avenue D,40.722281,-73.976687,Subscriber,2020-01-31,23:59:39.1780,2020-02-01,00:02:23.0400,65,female,NaN
1240594,327,483,E 12 St & 3 Ave,40.732233,-73.988900,3718,E 11 St & Avenue B,40.727464,-73.979504,Customer,2020-01-31,23:59:49.2310,2020-02-01,00:05:16.3790,29,male,NaN
1240595,484,327,Vesey Pl & River Terrace,40.715338,-74.016584,534,Water - Whitehall Plaza,40.702551,-74.012723,Subscriber,2020-01-31,23:59:57.0360,2020-02-01,00:08:01.1820,36,male,NaN

In [111]:
desired_column_order = ['rideable_type', 'start station name', 'start station id', 'end station name', 'end station id', 'start station latitude', 'start station longitude', 'end station latitude', 'end station longitude',
                        'usertype', 'Date', 'Start_Time', 'Date2', 'End_Time', 'tripduration', 'Age', 'Gender']
COVID = COVID[desired_column_order]

In [112]:
COVID

,rideable_type,start station name,start station id,end station name,end station id,start station latitude,start station longitude,end station latitude,end station longitude,usertype,Date,Start_Time,Date2,End_Time,tripduration,Age,Gender
0,<NA>,1 Ave & E 16 St,504,Canal St & Rutgers St,307,40.732219,-73.981656,40.714275,-73.989900,Subscriber,2020-01-01,00:00:55.3900,2020-01-01,00:14:05.1470,789,31,male
1,<NA>,West Drive & Prospect Park West,3423,Prospect Park West & 8 St,3300,40.661063,-73.979453,40.665147,-73.976376,Customer,2020-01-01,00:01:08.1020,2020-01-01,00:26:49.1780,1541,54,male
2,<NA>,E 33 St & 1 Ave,3687,South St & Whitehall St,259,40.743227,-73.974498,40.701221,-74.012342,Subscriber,2020-01-01,00:01:42.1400,2020-01-01,00:26:07.0110,1464,60,male
3,<NA>,Bank St & Hudson St,346,8 Ave & W 33 St,490,40.736529,-74.006180,40.751551,-73.993934,Subscriber,2020-01-01,00:01:45.5610,2020-01-01,00:11:38.1550,592,43,male
4,<NA>,Franklin Ave & Myrtle Ave,372,Fulton St & Waverly Ave,3637,40.694546,-73.958014,40.683239,-73.965996,Subscriber,2020-01-01,00:01:45.7880,2020-01-01,00:13:28.2400,702,41,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1240591,<NA>,University Pl & E 8 St,3244,Berry St & N 8 St,3092,40.731437,-73.994903,40.719009,-73.958525,Subscriber,2020-01-31,23:59:26.8820,2020-02-01,00:25:54.4890,1587,33,male
1240592,<NA>,Greenwich Ave & Charles St,383,Greenwich Ave & Charles St,383,40.735238,-74.000271,40.735238,-74.000271,Subscriber,2020-01-31,23:59:32.6410,2020-02-01,00:03:15.4720,222,40,male
1240593,<NA>,E 2 St & Avenue C,150,E 6 St & Avenue D,411,40.720874,-73.980858,40.722281,-73.976687,Subscriber,2020-01-31,23:59:39.1780,2020-02-01,00:02:23.0400,163,65,female
1240594,<NA>,E 12 St & 3 Ave,483,E 11 St & Avenue B,3718,40.732233,-73.988900,40.727464,-73.979504,Customer,2020-01-31,23:59:49.2310,2020-02-01,00:05:16.3790,327,29,male
1240595,<NA>,Vesey Pl & River Terrace,327,Water - Whitehall Plaza,534,40.715338,-74.016584,40.702551,-74.012723,Subscriber,2020-01-31,23:59:57.0360,2020-02-01,00:08:01.1820,484,36,male

In [115]:
combined = pd.concat([NOW, COVID])

In [116]:
combined

,rideable_type,start station name,start station id,end station name,end station id,start station latitude,start station longitude,end station latitude,end station longitude,usertype,Date,Start_Time,Date2,End_Time,tripduration,Age,Gender
0,Classic,E 53 St & Madison Ave,6659.03,Columbus Ave & W 72 St,7175.05,40.759724,-73.973664,40.777057,-73.978985,Subscriber,2023-01-26,10:53:44,2023-01-26,10:53:44,NaN,NaN,NaN
1,Classic,Halsey St & Ralph Ave,4334.02,Clinton Ave & Myrtle Ave,4651.02,40.684970,-73.922755,40.693261,-73.968896,Customer,2023-01-04,11:51:54,2023-01-04,11:51:54,NaN,NaN,NaN
2,Classic,Bank St & Hudson St,5922.08,W 52 St & 11 Ave,6926.01,40.736566,-74.006092,40.767272,-73.993929,Customer,2023-01-04,17:26:48,2023-01-04,17:26:48,NaN,NaN,NaN
3,Classic,E 53 St & Madison Ave,6659.03,W 45 St & 8 Ave,6676.02,40.759711,-73.974023,40.759291,-73.988597,Subscriber,2023-01-04,08:31:11,2023-01-04,08:31:11,NaN,NaN,NaN
4,Electric,Frederick Douglass Blvd & W 112 St,7631.23,Central Park S & 6 Ave,6876.04,40.801694,-73.957145,40.765909,-73.976342,Customer,2023-01-03,22:15:34,2023-01-03,22:15:34,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1240591,<NA>,University Pl & E 8 St,3244,Berry St & N 8 St,3092,40.731437,-73.994903,40.719009,-73.958525,Subscriber,2020-01-31,23:59:26.8820,2020-02-01,00:25:54.4890,1587,33,male
1240592,<NA>,Greenwich Ave & Charles St,383,Greenwich Ave & Charles St,383,40.735238,-74.000271,40.735238,-74.000271,Subscriber,2020-01-31,23:59:32.6410,2020-02-01,00:03:15.4720,222,40,male
1240593,<NA>,E 2 St & Avenue C,150,E 6 St & Avenue D,411,40.720874,-73.980858,40.722281,-73.976687,Subscriber,2020-01-31,23:59:39.1780,2020-02-01,00:02:23.0400,163,65,female
1240594,<NA>,E 12 St & 3 Ave,483,E 11 St & Avenue B,3718,40.732233,-73.988900,40.727464,-73.979504,Customer,2020-01-31,23:59:49.2310,2020-02-01,00:05:16.3790,327,29,male
1240595,<NA>,Vesey Pl & River Terrace,327,Water - Whitehall Plaza,534,40.715338,-74.016584,40.702551,-74.012723,Subscriber,2020-01-31,23:59:57.0360,2020-02-01,00:08:01.1820,484,36,male

In [117]:
combined = combined.drop(['start station id', 'end station id'], axis=1)

In [118]:
combined

,rideable_type,start station name,end station name,start station latitude,start station longitude,end station latitude,end station longitude,usertype,Date,Start_Time,Date2,End_Time,tripduration,Age,Gender
0,Classic,E 53 St & Madison Ave,Columbus Ave & W 72 St,40.759724,-73.973664,40.777057,-73.978985,Subscriber,2023-01-26,10:53:44,2023-01-26,10:53:44,NaN,NaN,NaN
1,Classic,Halsey St & Ralph Ave,Clinton Ave & Myrtle Ave,40.684970,-73.922755,40.693261,-73.968896,Customer,2023-01-04,11:51:54,2023-01-04,11:51:54,NaN,NaN,NaN
2,Classic,Bank St & Hudson St,W 52 St & 11 Ave,40.736566,-74.006092,40.767272,-73.993929,Customer,2023-01-04,17:26:48,2023-01-04,17:26:48,NaN,NaN,NaN
3,Classic,E 53 St & Madison Ave,W 45 St & 8 Ave,40.759711,-73.974023,40.759291,-73.988597,Subscriber,2023-01-04,08:31:11,2023-01-04,08:31:11,NaN,NaN,NaN
4,Electric,Frederick Douglass Blvd & W 112 St,Central Park S & 6 Ave,40.801694,-73.957145,40.765909,-73.976342,Customer,2023-01-03,22:15:34,2023-01-03,22:15:34,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1240591,<NA>,University Pl & E 8 St,Berry St & N 8 St,40.731437,-73.994903,40.719009,-73.958525,Subscriber,2020-01-31,23:59:26.8820,2020-02-01,00:25:54.4890,1587,33,male
1240592,<NA>,Greenwich Ave & Charles St,Greenwich Ave & Charles St,40.735238,-74.000271,40.735238,-74.000271,Subscriber,2020-01-31,23:59:32.6410,2020-02-01,00:03:15.4720,222,40,male
1240593,<NA>,E 2 St & Avenue C,E 6 St & Avenue D,40.720874,-73.980858,40.722281,-73.976687,Subscriber,2020-01-31,23:59:39.1780,2020-02-01,00:02:23.0400,163,65,female
1240594,<NA>,E 12 St & 3 Ave,E 11 St & Avenue B,40.732233,-73.988900,40.727464,-73.979504,Customer,2020-01-31,23:59:49.2310,2020-02-01,00:05:16.3790,327,29,male
1240595,<NA>,Vesey Pl & River Terrace,Water - Whitehall Plaza,40.715338,-74.016584,40.702551,-74.012723,Subscriber,2020-01-31,23:59:57.0360,2020-02-01,00:08:01.1820,484,36,male

In [119]:
csv_file_path = 'combined.csv'
combined.to_csv(csv_file_path, index=False)